.App{
  max-width: 600px;
  margin: 0 auto;
}
h3{
  margin: 20px 10px;
}
.pageState{
  text-align: right;
}
ul{
  padding: 0;
}
.boardContent li{
  margin:10px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  list-style: none;
}
.listTitle{
  display: inline-block;
  width: 90%;
  padding-left:30px;
}
a{
  color: #000;
  text-decoration: none;
}
.btnGroup{
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnGroup>li{
  list-style-type: none;
}
.pageNumberList{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.pageNumberList li{
  padding: 0 10px;
  list-style-type: none;
}
.currentPage{
  font-size: 20px;
  font-weight: bold;
  color: #0000ff;
}